<p>
  <%= theme.since_year %>-<%= new Date().getFullYear() %>
  <% if (config.author){ %>
  &copy;  <%= config.author %>
  <% } else { %>
  &copy; <%= config.title %>
  <% } %>
    <br> Power by <a href="http://hexo.io/" target="_blank">Hexo</a> 
    <br> Theme by <a href="http://github.com/wzpan/hexo-theme-freemind/">Freemind.386</a>.    
</p>
